// Typography
$font-family-sans-serif: "Open San", sans-serif;
$font-size-base: 16px;

// Color
$white: #ffffff;
$default-color: #000000;
$background-color: #4a4a4a;
$primary-color: #d70018;
$secondary-color: #121212;
$light-blue: #0337fd9e;
$purple-light: #f5f7fb;
$red-error: #cd201f;
$cursor-dot: #dc5656;
$cursor-dot-outline: mix(white, $cursor-dot, 25%);
$scroll-bar-default: #CACACA;
$scroll-bar-blue: #4ea0eced;
$error-color: #cfcfcf;

// Breakpoint responsive
$info-desktop: "only screen and (max-width : 1919px)";
$info-laptop-medium: "only screen and (max-width : 1440px)";
$info-laptop-normal: "only screen and (max-width : 1368px)";
$info-laptop-small: "only screen and (max-width : 1280px)";
$info-laptop-smallest: "only screen and (max-width : 1199px)";
$info-ipad-pro: "only screen and (max-width : 1024px)";
$info-ipad-medium: "only screen and (max-width : 820px)";
$info-ipad: "only screen and (max-width : 768px)";
$info-phone-normal: "only screen and (max-width : 576px)";
$info-phone-small: "only screen and (max-width : 341px)";
