@import "helpers/variables";
@import "helpers/mixins";

body {
  font-family: $font-family-sans-serif !important;
  color: $background-color !important;
  background-color: $white !important;
  word-spacing: 1px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


html {
  font-size: $font-size-base;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  @media #{$info-ipad} {
    font-size: 14px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

a {
  color: #0053FF!important;
  cursor: pointer;
  text-decoration: none;
}

figure {
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  letter-spacing: 0.3vw;
  word-break: break-all;
}

p {
  word-break: break-all;
  margin: 0;
}

// ---- Layout ----
.cps-page {
  overflow: hidden;

  .cps-body {
    margin-top: 1rem;
    min-height: 90vh;
  }
}

.cps-container {
  width: 1200px;
  margin: 0 auto;
  display: block;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  @media #{$info-laptop-smallest} {
    width: 100%!important;
    max-width: 1200px!important;
    padding: 0 10px;
  }
}

.cps-footer {
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  position: relative;
  overflow-x: hidden;
}

.is-hidden {
  display: none!important;
}
// ---- Layout - END ----

// ---- Flex box ----
.is-flex {
  display: flex!important;
}
.is-flex-direction-column {
  flex-direction: column!important;
}
.is-justify-content-between {
  justify-content: space-between!important;
}
.is-justify-content-start {
  justify-content: flex-start!important;
}
.is-justify-content-end {
  justify-content: flex-end!important;
}
.is-justify-content-center {
  justify-content: center!important;
}
.is-align-content-center {
  align-content: center!important;
}
// ---- Flex box - END ----

// ---- Text ----
.has-text-white {
  color: $white!important;
}
// ---- Text - END ----

// ---- Margin ----
.mr-3 {
  margin-right: 0.75rem!important;
}

.my-2 {
  margin-top: 0.5rem!important;
  margin-bottom: 0.5rem!important;
}
// ---- Margin - END ----
