
// ---- Flex box ----
.is-flex {
  display: flex!important;
}
.is-flex-direction-column {
  flex-direction: column!important;
}
.is-justify-content-between {
  justify-content: space-between!important;
}
.is-justify-content-start {
  justify-content: flex-start!important;
}
.is-justify-content-end {
  justify-content: flex-end!important;
}
.is-justify-content-center {
  justify-content: center!important;
}
.is-align-content-center {
  align-content: center!important;
}
// ---- Flex box - END ----

// ---- Text ----
.has-text-white {
  color: #fff!important;
}
// ---- Text - END ----
